*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27vh;
}
header{
    background-color: rgb(15, 43, 34);
}
.container1{
    display: flex;
    margin-top: 6vh;
    font-size: x-large;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.header1{
    margin-right: 35%;

}
.logo{
    height: 10vh;
    width: auto;
    margin-right: 14%;
}
.container2{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.box{
    background-color: rgb(15, 43, 34);
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    list-style-type: none;
}
.home{
    background-color: rgb(0, 70, 48);
}
a{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
}
main{
    background-color: rgb(0, 70, 48);
    padding-top: 1vh;
    height: auto;
}
.tekst{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    height: auto;
    color: white;
    background-color: rgb(0, 100, 69);
    margin-top: 5vh;
    padding: 5vh;
}
footer{

    background-color: rgb(15, 43, 34);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}
.service_menu{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.social_menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer li{
    padding: 1%;
}